@charset "UTF-8";
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Bold.woff") format("woff"), url("../fonts/PFDinTextCondPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Light.woff") format("woff"), url("../fonts/PFDinTextCondPro-Light.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Medium.woff") format("woff"), url("../fonts/PFDinTextCondPro-Medium.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Regular.woff") format("woff"), url("../fonts/PFDinTextCondPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Thin.woff") format("woff"), url("../fonts/PFDinTextCondPro-Thin.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: lighter;
  font-style: normal; }
* {
  border: 0;
  margin: 0;
  padding: 0; }

header {
  background-color: #f1cd4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 72px;
  justify-content: space-between;
  -webkit-justify-content: space-between; }

#logo_container {
  /*background-color: #666;*/
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 15px; }
  #logo_container a {
    background: url("../img/common/logo.png");
    display: block;
    height: 60px;
    width: 130px; }

#social_link_container {
  align-items: center;
  -webkit-align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-family: PFDinTextCondPro;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-right: 20px;
  width: 140px; }
  #social_link_container .social_link {
    /*background-color: crimson;*/
    display: block; }
  #social_link_container .facebook_link {
    background-position: top center;
    background: url("../img/common/facebook.png");
    height: 36px;
    width: 36px; }
    #social_link_container .facebook_link:hover {
      background-position: bottom center; }

@media screen and (max-width: 640px) {
  #logo_container {
    padding-left: 10px; }

  #logo_container a {
    background: url("../img/common/logo_mobile.png");
    height: 46px;
    width: 100px; } }
body {
  background-color: #ffffee; }

/************************************** Shadow **********************************************/
#shadow_container img {
  height: 121px;
  width: 100%; }

/*********************************************************************************************/
/************************************ General elements ***************************************/
/*********************************************************************************************/
.title_container {
  margin: 0 auto;
  position: relative;
  width: 380px; }
  .title_container img {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 0; }
  .title_container h2 {
    bottom: 0;
    color: #ffffee;
    font-family: PFDinTextCondPro;
    font-size: 30px;
    font-weight: bold;
    height: 54%;
    left: 0;
    margin: auto;
    margin-left: 17%;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    z-index: 1; }

/*********************************************************************************************/
/******************************** Value Proposal Section *************************************/
/*********************************************************************************************/
#value_proposal_section {
  background-color: #ffffee;
  margin-top: 50px; }

/***************************** Proposal Container ***************************************/
.proposal_container {
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 35px auto;
  width: 70%; }
  .proposal_container .proposal_text {
    color: #1A223C;
    width: 55%; }
    .proposal_container .proposal_text .proposal_title {
      font-family: PFDinTextCondPro;
      font-weight: 500;
      margin: 10px auto; }
    .proposal_container .proposal_text .proposal_paragraph, .proposal_container .proposal_text .proposal_list {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      line-height: 26px;
      text-align: left; }
    .proposal_container .proposal_text .proposal_list {
      list-style: none; }
      .proposal_container .proposal_text .proposal_list li {
        margin-top: 5px;
        position: relative; }
      .proposal_container .proposal_text .proposal_list li:before {
        color: #fa5b61;
        content: '✔';
        font-weight: bold;
        position: absolute;
        left: -22px; }
  .proposal_container .proposal_image {
    margin: 20px;
    width: 25%; }
    .proposal_container .proposal_image img {
      display: block;
      height: auto;
      width: 100%; }

/*Special styes for advantages list*/
#proposal_advantages .proposal_text {
  margin-left: 22px; }

/*********************************************************************************************/
/************************************** Form Section *****************************************/
/*********************************************************************************************/
#form_section {
  background-color: #dff4f5;
  margin-top: 60px;
  padding: 60px 0px; }
  #form_section h2 {
    color: #dff4f5; }
  #form_section #form_container {
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 60px; }
    #form_section #form_container #join_us_form {
      background: url("../img/common/fondoformulario.png");
      background-size: 100% 490px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      height: 490px;
      justify-content: center;
      -webkit-justify-content: center;
      margin: 0 5%; }
      #form_section #form_container #join_us_form #form_fields_container {
        /*background-color: violet;*/
        align-items: flex-end;
        -webkit-align-items: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        margin: auto;
        width: 90%; }
        #form_section #form_container #join_us_form #form_fields_container input[type='submit'] {
          background-color: #fa5b61;
          border-radius: 10px;
          border-top: 2px solid white;
          border-right: 2px solid white;
          color: white;
          cursor: pointer;
          font-family: PFDinTextCondPro;
          font-weight: bolder;
          font-size: 22px;
          height: 59px;
          margin: 60px 20px 0px 230px;
          width: 150px;
          transition: bottom 2s ease;
          transition: left 2s ease;
          position: relative; }
          #form_section #form_container #join_us_form #form_fields_container input[type='submit']:hover {
            background-color: #f70810;
            bottom: 1px;
            left: 1px; }
        #form_section #form_container #join_us_form #form_fields_container label {
          color: #1a223c;
          font-family: PFDinTextCondPro;
          font-size: 18px;
          font-weight: 700;
          margin-right: 8px; }
        #form_section #form_container #join_us_form #form_fields_container .check_box_container, #form_section #form_container #join_us_form #form_fields_container .small_field {
          align-items: center;
          -webkit-align-items: center;
          box-sizing: border-box;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: flex-end;
          -webkit-justify-content: flex-end;
          padding: 9px 20px;
          width: 100%; }
          #form_section #form_container #join_us_form #form_fields_container .check_box_container input[type='checkbox'], #form_section #form_container #join_us_form #form_fields_container .small_field input[type='checkbox'] {
            margin-top: -4px;
            height: 15px;
            width: 15px; }
        #form_section #form_container #join_us_form #form_fields_container .small_field input {
          background-color: #dff4f5;
          box-sizing: border-box;
          border-radius: 5px;
          box-shadow: inset 4px 3px 0px 0px #e6e6d4;
          color: #1a223c;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          height: 30px;
          padding: 2px 4px 2px 6px;
          width: 73%; }

#form_section #price_explanation {
  color: #1A223C;
  font-family: PFDinTextCondPro;
  font-size: 18px;
  margin: 0 5%;
  position: relative;
  width: 350px; }
  #form_section #price_explanation #contribution_word {
    font-weight: 300; }
  #form_section #price_explanation .price {
    font-weight: bolder;
    font-size: 32px; }
    #form_section #price_explanation .price .value {
      color: #fa5b61; }
  #form_section #price_explanation #price_paragraph {
    font-family: "Source Sans Pro", sans-serif; }
    #form_section #price_explanation #price_paragraph span {
      color: #fa5b61;
      font-weight: 600; }
  #form_section #price_explanation #doubt_link {
    color: #fa5b61;
    cursor: pointer;
    font-family: PFDinTextCondPro;
    font-weight: bold;
    position: relative;
    text-decoration: underline;
    top: 30px; }

/************************************ Questions Popup ****************************************/
#questions_popup {
  background-color: rgba(26, 34, 60, 0.9);
  display: none;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5; }
  #questions_popup #questions_group_container {
    align-content: center;
    -webkit-align-content: center;
    background-color: #ffffee;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #1A223C;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    height: 90%;
    justify-content: center;
    -webkit-justify-content: center;
    margin: auto;
    max-width: 900px;
    overflow-y: scroll;
    padding: 20px 20px;
    position: relative;
    width: 95%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    #questions_popup #questions_group_container::-webkit-scrollbar {
      display: none; }
    #questions_popup #questions_group_container .close_button {
      background-color: transparent;
      background-image: url("../img/common/close_button.png");
      cursor: pointer;
      height: 28px;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 28px; }
      #questions_popup #questions_group_container .close_button:active {
        outline: none; }
      #questions_popup #questions_group_container .close_button:focus {
        outline: none; }
    #questions_popup #questions_group_container .question_division {
      border-left: 1px solid #1A223C;
      height: 20%;
      margin: 0px 10px; }
    #questions_popup #questions_group_container .division_points {
      display: none; }
    #questions_popup #questions_group_container .question {
      align-items: center;
      -webkit-align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      padding: 10px 5px;
      height: 25%;
      width: 45%; }
      #questions_popup #questions_group_container .question .question_title {
        font-family: PFDinTextCondPro;
        font-size: 18px;
        font-weight: 500; }
      #questions_popup #questions_group_container .question .question_answer {
        text-align: center; }

/*********************************************************************************************/
/********************************* Social Network Section ************************************/
/*********************************************************************************************/
#social_networks_section {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 70px 0px; }
  #social_networks_section #follow_us_box .container {
    padding-top: 20px; }
  #social_networks_section article {
    color: #1A223C;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    /********************************************Follow us part********************************/ }
    #social_networks_section article h2 {
      font-family: PFDinTextCondPro;
      font-size: 45px; }
    #social_networks_section article .container {
      margin-top: 25px;
      /********************************************Contact us part********************************/ }
      #social_networks_section article .container #text_and_counter_count {
        align-items: center;
        -webkit-align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 18px;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        width: 400px; }
        #social_networks_section article .container #text_and_counter_count .button_text_container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          justify-content: space-between;
          -webkit-justify-content: space-between; }
          #social_networks_section article .container #text_and_counter_count .button_text_container p {
            margin-bottom: 10px;
            width: 200px; }
        #social_networks_section article .container #text_and_counter_count #count_container {
          font-family: PFDinTextCondPro;
          font-size: 42px;
          line-height: 40px;
          margin-top: -20px; }
          #social_networks_section article .container #text_and_counter_count #count_container .pink_bold {
            color: #fa5b61;
            font-size: 60px;
            font-weight: 500; }
          #social_networks_section article .container #text_and_counter_count #count_container strong {
            font-weight: 500; }
          #social_networks_section article .container #text_and_counter_count #count_container img {
            position: relative;
            top: -26px;
            left: -16px; }
      #social_networks_section article .container #text_and_code {
        align-items: center;
        -webkit-align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 18px;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        width: 400px; }
        #social_networks_section article .container #text_and_code .button_text_container a {
          background-color: #1A223C;
          border-radius: 5px;
          box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
          color: white;
          display: inline-block;
          font-family: PFDinTextCondPro;
          font-weight: 500;
          padding: 6px 10px;
          text-decoration: none;
          transition: all ease-in-out 250ms; }
          #social_networks_section article .container #text_and_code .button_text_container a:hover {
            box-shadow: 0 24px 10px -16px rgba(0, 0, 0, 0.5);
            transform: translate(0, -3px); }
        #social_networks_section article .container #text_and_code .button_text_container p {
          margin-bottom: 15px;
          width: 200px; }
        #social_networks_section article .container #text_and_code img {
          width: 220px;
          height: auto; }
  #social_networks_section hr {
    border-left: solid 1px #1A223C;
    height: 270px;
    position: relative;
    top: 55px;
    margin: 0px 60px; }

@media only screen and (max-width: 950px) {
  #value_proposal_section #proposal_intro {
    width: 70%; }
  #value_proposal_section .proposal_container {
    width: 85%; }
    #value_proposal_section .proposal_container .proposal_text {
      min-width: 352px; }
    #value_proposal_section .proposal_container .proposal_image {
      min-width: 190px; }

  #form_section #form_container #price_explanation {
    min-width: 231px; }

  #social_networks_section {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    padding: 0px 0px; }
    #social_networks_section hr {
      display: none; }
    #social_networks_section article {
      margin: 60px 20px; }
      #social_networks_section article .container #text_and_code img {
        width: 200px; } }
@media only screen and (max-width: 850px) {
  #questions_popup #questions_group_container {
    align-content: flex-start;
    -webkit-align-content: flex-start; }
    #questions_popup #questions_group_container .question_division {
      display: none; }
    #questions_popup #questions_group_container .division_points {
      color: #fa5b61;
      display: block;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      width: 100%; }
    #questions_popup #questions_group_container .question {
      height: auto;
      margin: 10px 20px 0px 20px;
      min-width: 345px; } }
@media only screen and (max-width: 750px) {
  #value_proposal_section .proposal_container {
    align-content: center;
    -webkit-align-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center; }
  #value_proposal_section #proposal_advantages .proposal_text {
    order: -1; }

  #form_section #form_container {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    #form_section #form_container #price_explanation {
      align-items: center;
      -webkit-align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      order: -1;
      -webkit-order: -1; }
      #form_section #form_container #price_explanation #price_paragraph {
        text-align: center; }
    #form_section #form_container #join_us_form {
      margin-top: 80px; }

  #social_networks_section hr {
    border-left: 0px;
    border-top: 1px solid #1A223C;
    display: block;
    height: 0px;
    margin: 0px 0px;
    top: 0px;
    width: 365px; }
  #social_networks_section article .container #text_and_code img {
    width: 220px; } }
@media only screen and (max-width: 450px) {
  #value_proposal_section #proposal_intro {
    font-size: 17px;
    line-height: 24px;
    margin-top: 25px;
    text-align: center;
    width: 84%; }
  #value_proposal_section .proposal_container {
    align-content: center;
    -webkit-align-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    min-width: 250px;
    width: 84%; }
    #value_proposal_section .proposal_container .proposal_text {
      min-width: 250px;
      width: 100%; }
      #value_proposal_section .proposal_container .proposal_text h2 {
        text-align: center; }
      #value_proposal_section .proposal_container .proposal_text p {
        text-align: center; }
      #value_proposal_section .proposal_container .proposal_text .proposal_list li {
        text-align: center; }
      #value_proposal_section .proposal_container .proposal_text .proposal_list li:before {
        position: relative;
        left: -5px; }

  #proposal_advantages .proposal_text {
    margin-left: 0px; }

  .title_container {
    width: 100%; }
    .title_container h2 {
      color: #1A223C;
      margin-left: auto;
      position: static;
      text-align: center;
      width: auto; }
    .title_container img {
      display: none; }

  #form_section {
    padding-bottom: 0px; }
    #form_section h2 {
      color: #1A223C; }
    #form_section #form_container {
      margin-top: 25px; }
      #form_section #form_container #join_us_form {
        background-color: #59ccd9;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%; }
        #form_section #form_container #join_us_form #form_fields_container input[type='submit'] {
          font-size: 18px; }
        #form_section #form_container #join_us_form #form_fields_container label {
          font-size: 16px; }
        #form_section #form_container #join_us_form #form_fields_container .check_box_container, #form_section #form_container #join_us_form #form_fields_container .small_field {
          padding: 9px 8px; }
        #form_section #form_container #join_us_form #form_fields_container .small_field {
          align-items: flex-start;
          -webkit-align-items: flex-start;
          flex-direction: column;
          -webkit-flex-direction: column;
          padding: 9px 8px; }
          #form_section #form_container #join_us_form #form_fields_container .small_field input {
            width: 100%; }

  #questions_popup #questions_group_container .close_button {
    background-image: url("../img/common/close_button.png");
    background-size: 20px 20px;
    height: 20px;
    width: 20px; }
  #questions_popup #questions_group_container .division_points {
    font-size: 20px; }
  #questions_popup #questions_group_container .question {
    min-width: 285px;
    width: 90%; }
    #questions_popup #questions_group_container .question .question_title {
      font-family: PFDinTextCondPro;
      font-size: 16px;
      font-weight: 500;
      text-align: center; }
    #questions_popup #questions_group_container .question .question_answer {
      font-size: 14px;
      text-align: center; }

  #social_networks_section hr {
    width: 250px; }
  #social_networks_section article h2 {
    font-size: 35px; }
  #social_networks_section article .container #text_and_counter_count {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%; }
    #social_networks_section article .container #text_and_counter_count #count_container {
      margin-top: 50px; }
  #social_networks_section article .container #text_and_code {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%; }
    #social_networks_section article .container #text_and_code img {
      margin-top: 30px;
      width: 220px; } }

/*# sourceMappingURL=master.css.map */
