@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: bold;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 200;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 500;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: lighter;
     font-style: normal;
}
