@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Bold.woff") format("woff"), url("../fonts/PFDinTextCondPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Light.woff") format("woff"), url("../fonts/PFDinTextCondPro-Light.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Medium.woff") format("woff"), url("../fonts/PFDinTextCondPro-Medium.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Regular.woff") format("woff"), url("../fonts/PFDinTextCondPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Thin.woff") format("woff"), url("../fonts/PFDinTextCondPro-Thin.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: lighter;
  font-style: normal; }
* {
  border: 0;
  margin: 0;
  padding: 0; }

header {
  background-color: #f1cd4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 72px;
  justify-content: space-between;
  -webkit-justify-content: space-between; }

#logo_container {
  /*background-color: #666;*/
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 15px; }
  #logo_container a {
    background: url("../img/common/logo.png");
    display: block;
    height: 60px;
    width: 130px; }

#social_link_container {
  align-items: center;
  -webkit-align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-family: PFDinTextCondPro;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-right: 20px;
  width: 140px; }
  #social_link_container .social_link {
    /*background-color: crimson;*/
    display: block; }
  #social_link_container .facebook_link {
    background-position: top center;
    background: url("../img/common/facebook.png");
    height: 36px;
    width: 36px; }
    #social_link_container .facebook_link:hover {
      background-position: bottom center; }

@media screen and (max-width: 640px) {
  #logo_container {
    padding-left: 10px; }

  #logo_container a {
    background: url("../img/common/logo_mobile.png");
    height: 46px;
    width: 100px; } }
/************************************** Shadow **********************************************/
#shadow_container img {
  height: 121px;
  width: 100%; }

/*# sourceMappingURL=master.css.map */
