@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Bold.woff") format("woff"), url("../fonts/PFDinTextCondPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Light.woff") format("woff"), url("../fonts/PFDinTextCondPro-Light.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Medium.woff") format("woff"), url("../fonts/PFDinTextCondPro-Medium.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Regular.woff") format("woff"), url("../fonts/PFDinTextCondPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: PFDinTextCondPro;
  src: url("../fonts/PFDinTextCondPro-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PFDinTextCondPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Thin.woff") format("woff"), url("../fonts/PFDinTextCondPro-Thin.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: lighter;
  font-style: normal; }
* {
  border: 0;
  margin: 0;
  padding: 0; }

header {
  background-color: #f1cd4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 72px;
  justify-content: space-between;
  -webkit-justify-content: space-between; }

#logo_container {
  /*background-color: #666;*/
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 15px; }
  #logo_container a {
    background: url("../img/common/logo.png");
    display: block;
    height: 60px;
    width: 130px; }

#social_link_container {
  align-items: center;
  -webkit-align-items: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-family: PFDinTextCondPro;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-right: 20px;
  width: 140px; }
  #social_link_container .social_link {
    /*background-color: crimson;*/
    display: block; }
  #social_link_container .facebook_link {
    background-position: top center;
    background: url("../img/common/facebook.png");
    height: 36px;
    width: 36px; }
    #social_link_container .facebook_link:hover {
      background-position: bottom center; }

@media screen and (max-width: 640px) {
  #logo_container {
    padding-left: 10px; }

  #logo_container a {
    background: url("../img/common/logo_mobile.png");
    height: 46px;
    width: 100px; } }
body {
  background-color: #dff4f5; }

/************************************** Shadow **********************************************/
#shadow_container img {
  height: 121px;
  width: 100%; }

/*********************************************************************************************/
/************************************ General elements ***************************************/
/*********************************************************************************************/
.title_container {
  margin: 0 auto;
  position: relative;
  width: 30%; }
  .title_container img {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 0; }
  .title_container h2 {
    bottom: 0;
    color: #dff4f5;
    font-family: PFDinTextCondPro;
    font-size: 32px;
    font-size: 2.4vw;
    font-weight: bold;
    height: 54%;
    left: 0;
    margin: auto;
    margin-left: 12%;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    z-index: 1; }

/*********************************************************************************************/
/******************************** Value Proposal Section *************************************/
/*********************************************************************************************/
#value_proposal_section {
  background-color: #dff4f5;
  margin-top: -40px; }
  #value_proposal_section #proposal_intro {
    color: #1A223C;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-size: 1.55vw;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    width: 50%; }
  #value_proposal_section .division_line {
    border-top: 1px solid #1A223C;
    margin: 15px auto;
    width: 80%; }
  #value_proposal_section #first_line {
    margin-top: 50px; }

/***************************** Proposal Container ***************************************/
.proposal_container {
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 25px auto;
  width: 70%; }
  .proposal_container .proposal_text {
    color: #1A223C;
    width: 55%; }
    .proposal_container .proposal_text .proposal_title {
      font-family: PFDinTextCondPro;
      font-weight: 500;
      margin: 10px auto; }
    .proposal_container .proposal_text .proposal_paragraph {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      line-height: 26px;
      line-height: 2.05vw;
      text-align: left; }
  .proposal_container .proposal_image {
    width: 25%; }
    .proposal_container .proposal_image img {
      display: block;
      height: auto;
      width: 100%; }

/*********************************************************************************************/
/************************************** Form Section *****************************************/
/*********************************************************************************************/
#form_section {
  margin-top: 60px; }
  #form_section #form_container {
    /*background-color: green;*/
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-top: 60px; }
    #form_section #form_container #join_us_form {
      /*background-color: darkorange;*/
      background: url("../img/common/fondoformulario.png");
      /*background-repeat: no-repeat;*/
      background-size: 100% 490px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      height: 490px;
      justify-content: center;
      -webkit-justify-content: center;
      margin: 0 auto;
      width: 450px; }
      #form_section #form_container #join_us_form #form_fields_container {
        /*background-color: violet;*/
        align-items: flex-end;
        -webkit-align-items: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        margin: auto;
        width: 90%; }
        #form_section #form_container #join_us_form #form_fields_container input[type='submit'] {
          background: url("../img/common/enviar_btn.png");
          cursor: pointer;
          height: 59px;
          margin: 50px 20px 0px 230px;
          width: 150px; }
        #form_section #form_container #join_us_form #form_fields_container input[type='submit']:hover {
          background: url("../img/common/enviar_btn_activo.png"); }
        #form_section #form_container #join_us_form #form_fields_container label {
          color: #1a223c;
          font-family: PFDinTextCondPro;
          font-size: 18px;
          font-weight: 700;
          margin-right: 8px; }
        #form_section #form_container #join_us_form #form_fields_container .small_field {
          align-items: center;
          -webkit-align-items: center;
          box-sizing: border-box;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: flex-end;
          -webkit-justify-content: flex-end;
          padding: 9px 20px;
          width: 100%; }
          #form_section #form_container #join_us_form #form_fields_container .small_field input {
            background-color: #dff4f5;
            box-sizing: border-box;
            border-radius: 5px;
            box-shadow: inset 4px 3px 0px 0px #e6e6d4;
            color: #1a223c;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            height: 30px;
            padding: 2px 4px 2px 6px;
            width: 73%; }

/*# sourceMappingURL=master.css.map */
