footer {
	@include display-flex;
	@include justify-content(space-around);
	background-color: $color-main-font;
	color: white;
	font-family: $font-title;
	font-size: 20px;
	padding: 20px 0px;

	.contact_container_footer {
		@include display-flex;
		@include align-items(center);
		margin: 10px 16px;
	}

	.contact_icon {
		font-family: $font-icomoon;
		font-size: 22px;
	}

	.contact_info {
		display: block;
		height: 20px;
		margin-left: 10px;
	}

	#whatsapp_footer:before {
		content: "\ea93";
	}

	#email_footer:before {
		content: "\e945";
	}

	#facebook_footer:before {
		content: "\ea91";
	}
}