/*********************************************************************************************/
/******************************** Value Proposal Section *************************************/
/*********************************************************************************************/

#value_proposal_section {
    background-color: $color-main-background;
    margin-top: 50px;
}

/***************************** Proposal Container ***************************************/

.proposal_container {
    @include align-items(center);
    @include display-flex;
    @include justify-content(space-between);
    margin: 35px auto;
    width: 70%;

    .proposal_text {
        color: $color-main-font;
        width: 55%;

        .proposal_title {
            font-family: $font-title;
            font-weight: 500;
            margin: 10px auto;
        }

        .proposal_paragraph {
            font-family: $font-paragraph;
            font-size: 18px;
            line-height: 26px;
            // line-height: 2.05vw;
            text-align: left;
        }

        .proposal_list {
            @extend .proposal_paragraph;
            list-style: none;

            li {
                margin-top: 5px;
                position: relative;
            }

            li:before {
                color: $color_main_pink;
                content: '✔';
                font-weight: bold;
                position: absolute;
                left: -22px;
            }
        }
    }

    .proposal_image {
        margin: 20px;
        width: 25%;
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

/*Special styes for advantages list*/
#proposal_advantages {
    .proposal_text {
        margin-left: 22px;
    }
}

#doubts_container {
    @include display-flex;
    @include justify-content(center);
    padding-top: 20px;
    padding-bottom: 60px;
    .doubts_button {
        background-color: $color-main-font;
        border-radius: 5px;
        box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5);
        color: white;
        cursor: pointer;        
        font-family: $font-title;
        font-size: 22px;
        font-weight: 500;
        margin: auto;
        padding: 6px 10px;
        text-decoration: none;
        transition: all ease-in-out 250ms;

        &:hover {
            box-shadow: 0 24px 10px -16px rgba(0,0,0,0.5);
            transform: translate(0, -3px);
        }
    }
}