/*********************************************************************************************/
/******************************** Value Proposal Section *************************************/
/*********************************************************************************************/

#value_proposal_section {
    background-color: $color-main-background;
    margin-top: 50px;
}

/***************************** Proposal Container ***************************************/

.proposal_container {
    @include align-items(center);
    @include display-flex;
    @include justify-content(space-between);
    margin: 35px auto;
    width: 70%;

    .proposal_text {
        color: $color-main-font;
        width: 55%;

        .proposal_title {
            font-family: $font-title;
            font-weight: 500;
            margin: 10px auto;
        }

        .proposal_paragraph {
            font-family: $font-paragraph;
            font-size: 18px;
            line-height: 26px;
            // line-height: 2.05vw;
            text-align: left;
        }

        .proposal_list {
            @extend .proposal_paragraph;
            list-style: none;

            li {
                margin-top: 5px;
                position: relative;
            }

            li:before {
                color: $color_main_pink;
                content: '✔';
                font-weight: bold;
                position: absolute;
                left: -22px;
            }
        }
    }

    .proposal_image {
        margin: 20px;
        width: 25%;
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

/*Special styes for advantages list*/
#proposal_advantages {
    .proposal_text {
        margin-left: 22px;
    }
}