@media only screen and (max-width: 950px) {

    #value_proposal_section {

        #proposal_intro {
            width: 70%;
        }

        .proposal_container {
            width: 85%;

            .proposal_text {
                min-width: 352px;
            }
            .proposal_image {
                min-width: 190px;
            }
        }
    }

    #form_section {
        #form_container {
            .price_explanation {
                min-width: 231px;
            }
        }
    }

    #social_networks_section {

        @include flex-wrap(wrap);
        @include justify-content(space-around);
        padding: 0px 0px;

        hr {
            display: none;
        }

        article {
            margin: 60px 20px;

            .container {
                #text_and_code {
                    img {
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {

    .video_general_container {
        .video_adjustable_container {
            width: 60%;
        }
    }

    #questions_popup {

        #questions_group_container {

            @include align-content(flex-start);

            .question_division {
                display: none;
            }

            .division_points {
                color: $color_main_pink;
                display: block;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                width: 100%;
            }

            .question {
                height: auto;
                margin: 10px 20px 0px 20px;
                min-width: 345px;
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    #value_proposal_section {

        .video_general_container {
            .video_adjustable_container {
                width: 80%;
            }
        }

        .proposal_container {
            @include align-content(center);
            @include flex-wrap(wrap);
            @include justify-content(center);

            #map_image_container {
                margin: 20px;
                min-width: 310px;
                width: 50%;
            }
        }

        #service_description {
            .proposal_paragraph, .proposal_title {
                text-align: center;
            }
        }

        #proposal_advantages {
            .proposal_text {
                order: -1;
            }
        }
    }

    #form_section {
        #form_container {

            @include flex-wrap(wrap);

            .price_explanation {
               display: none;
            }

            #join_us_form {
                width: 450px;

                #form_fields_container {
                    .plan_selector {
                        margin-bottom: 35px;
                        margin-top: 0px;
                        order: -1;

                        .price_explanation {
                            display: block;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }

    #social_networks_section {

        hr {
            border-left: 0px;
            border-top: 1px solid $color_main_font;
            display: block;
            height: 0px;
            margin: 0px 0px;
            top: 0px;
            width: 365px;
        }

        article {
            .container {
                #text_and_code {
                    img {
                        width: 220px;
                    }
                }
            }
        }
    }

    footer {
        @include flex-direction(column);
        @include align-items(center);
        font-size: 18px;
        .contact_icon {
            font-size: 20px;
        }
    }

}

@media only screen and (max-width: 450px) {

    #value_proposal_section {

        .video_general_container {
            .video_adjustable_container {
                width: 90%;
            }
        }

        #proposal_intro {
            font-size: 17px;
            line-height: 24px;
            margin-top: 25px;
            text-align: center;
            width: 84%;
        }

        .proposal_container {
            @include align-content(center);
            @include flex-wrap(wrap);
            @include justify-content(center);
            min-width: 250px;
            width: 84%;

            .proposal_text {
                min-width: 250px;
                width: 100%;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                .proposal_list {
                    li {
                        text-align: center;
                    }

                    li:before {
                        position: relative;
                        left: -5px;
                    }
                }
            }

            #map_image_container {
                min-width: 280px;
            }

        }
    }

    #proposal_advantages {
        .proposal_text {
            margin-left: 0px;
        }
    }

    .title_container {

        width: 100%;

        h2 {
            font-size: 30px;
            position: static;
            text-align: center;
            width: auto;
        }
    }

    #form_section {

        background-color: $color-form;
        padding-bottom: 0px;

        h2 {
            color: $color_main_font;
        }

        #form_container {

            #join_us_form {
                background-color: $color_form;
                margin-left: 0px;
                margin-right: 0px;
                padding-top: 0px;
                width: 100%;

                #form_fields_container {

                    input[type='submit'] {
                        font-size: 18px;
                    }

                    label {
                        font-size: 16px;
                    }

                    .check_box_container {
                        padding: 9px 8px;
                    }

                    .small_field {
                        @include align-items(flex-start);
                        @include flex-direction(column);
                        padding: 9px 8px;

                        input {
                            width: 100%;
                        }
                    }

                    .plan_selector {

                        width: 95%;

                        .options_fake_buttons {
                            .first {
                                border-radius: 5px 0px 0px 5px;
                            }
                            .last {
                                border-radius: 0px 5px 5px 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    #questions_popup {

        #questions_group_container {

            .close_button {
                background-image: url("../img/common/close_button.png");
                background-size: 20px 20px;
                height: 20px;
                width: 20px;
            }

            .division_points {
                font-size: 20px;
            }

            .question {
                min-width: 285px;
                width: 90%;

                .question_title {
                    font-family: $font-title;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                }

                .question_answer {
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }

    #reviews_section {

        .slider {
            width: 310px;
            height: 310px;

            .slide {
                .review_link {
                    font-size: 10px;
                }
            }

            .arrows_container {
                width: 42px;
                .arrow {
                    font-size: 18px;
                }
            }
        }

        .review_data {

            .reviewer_name {
                font-size: 14px;
            }

            .review_text {
                font-size: 14px;
                max-height: 170px;
                overflow-y: scroll;
            }

            .review_date {
                font-size: 10px;
            }

            .stars_container {
                .star {
                    font-size: 14px;
                }
            }
        }
    }

    #social_networks_section {

        hr {
            width: 250px;
        }

        article {

            h2 {
                font-size: 35px;
            }

            .container {

                #text_and_counter_count {
                    @include flex-direction(column);
                    width: 100%;
                    #count_container {
                        margin-top: 50px;
                    }
                }

                #text_and_code {
                    @include flex-direction(column);
                    width: 100%;
                    img {
                        margin-top: 30px;
                        width: 220px;
                    }
                }
            }
        }
    }

    footer {
        font-size: 16px;
        .contact_icon {
            font-size: 18px;
        }
        .contact_info {
            height: 16px;
        }
    }
}
