#whatsapp_fixed_box {
    animation-name: vibration;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: $color-main-pink;
    border-radius: 50%;
    bottom: 18pt;
    box-shadow: 0px 3px 4px 1px $color-dark-gray;
    color: white;
    height: 45pt;
    left: 18pt;
    position: fixed;
    text-decoration: none;
    width: 45pt;
    z-index: 2;

    .whatsapp_icon {
        @include display-flex;
        @include justify-content(center);
        @include align-items(center);
        font-family: $font-icomoon;
        font-size: 22pt;
        height: 100%;
        width: 100%;
        &::before {
            content: "\ea93";
        }
    }    
}

@keyframes vibration {
    from{
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}