@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: bold;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 200;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 500;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url('../fonts/PFDinTextCondPro-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextCondPro-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PFDinTextCondPro-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PFDinTextCondPro-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: lighter;
     font-style: normal;
}

@import "reset";
@import "general_definitions";
@import "header";

body {
    background-color: $color-main-background;
}

/************************************** Shadow **********************************************/

#shadow_container img {
    height: 121px;
    width: 100%;
}

/*********************************************************************************************/
/************************************ General elements ***************************************/
/*********************************************************************************************/

.title_container {
    // background-color: cadetblue;
    margin: 0 auto;
    position: relative;
    width: 30%;

    img {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        z-index: 0;
    }

    h2 {
        // background-color: red;
        bottom: 0;
        color: $color-main-background;
        font-family: $font-title;
        font-size: 32px;
        font-size: 2.4vw;
        font-weight: bold;
        height: 54%;
        left: 0;
        margin: auto;
        margin-left: 12%;
        position: absolute;
        right: 0;
        top: 0;
        width: 65%;
        z-index: 1;
    }
}

/*********************************************************************************************/
/******************************** Value Proposal Section *************************************/
/*********************************************************************************************/

#value_proposal_section {
    background-color: $color-main-background;
    margin-top: 50px;

    #proposal_intro {
        color: $color-main-font;
        font-family: $font-paragraph;
        font-size: 20px;
        font-size: 1.55vw;
        margin: 0 auto;
        margin-top: 3%;
        text-align: center;
        width: 50%;
    }

    .division_line {
        border-top: 1px solid $color-main-font;
        margin: 15px auto;
        width: 80%;
    }

    #first_line {
        margin-top: 50px;
    }
}

/***************************** Proposal Container ***************************************/

.proposal_container {
    @include align-items(center);
    @include display-flex;
    @include justify-content(space-between);
    margin: 25px auto;
    width: 70%;

    .proposal_text {
        color: $color-main-font;
        width: 55%;

        .proposal_title {
            font-family: $font-title;
            font-weight: 500;
            margin: 10px auto;
        }

        .proposal_paragraph {
            font-family: $font-paragraph;
            font-size: 18px;
            line-height: 26px;
            line-height: 2.05vw;
            text-align: left;
        }
    }

    .proposal_image {
        width: 25%;
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

/*********************************************************************************************/
/************************************** Form Section *****************************************/
/*********************************************************************************************/

#form_section {

    background-color: $color-form-background;
    margin-top: 60px;
    padding: 60px 0px;

    #form_container {
        @include align-items(center);
        @include display-flex;
        @include justify-content(center);
        margin-top: 60px;

        #join_us_form {
            background: url('../img/common/fondoformulario.png');
            background-size: 100% 490px;
            @include display-flex;
            @include flex-direction(column);
            height: 490px;
            @include justify-content(center);
            margin: 0 5%;

            #form_fields_container {
                /*background-color: violet;*/
                @include align-items(flex-end);
                @include display-flex;
                @include flex-direction(column);
                margin: auto;
                width: 90%;

                input[type='submit'] {
                    background-color: $color-main-pink;
                    border-radius: 10px;
                    border-top: 2px solid white;
                    border-right: 2px solid white;
                    color: white;
                    cursor: pointer;
                    font-family: $font-title;
                    font-weight: bolder;
                    font-size: 22px;
                    height: 59px;
                    margin: 60px 20px 0px 230px;
                    width: 150px;
                    transition: bottom 2s ease;
                    transition: left 2s ease;
                    position: relative;

                    &:hover {
                        background-color: $color-pink-high;
                        bottom: 1px;
                        left: 1px;
                    }
                }

                label {
                    color: #1a223c;
                    font-family: $font-title;
                    font-size: 18px;
                    font-weight: 700;
                    margin-right: 8px;
                }

                .small_field {
                    @include align-items(center);
                    box-sizing: border-box;
                    @include display-flex;
                    @include justify-content(flex-end);
                    padding: 9px 20px;
                    width: 100%;

                    input {
                        background-color: #dff4f5;
                        box-sizing: border-box;
                        border-radius: 5px;
                        box-shadow: inset 4px 3px 0px 0px #e6e6d4;
                        color: #1a223c;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 16px;
                        height: 30px;
                        padding: 2px 4px 2px 6px;
                        width: 73%;
                    }
                }
            }

        }
    }
}

#form_section {

    #price_explanation {
        color: $color-main-font;
        font-family: $font-title;
        font-size: 18px;
        margin: 0 5%;
        position: relative;
        width: 350px;

        #contribution_word {
            font-weight: 300;
        }

        .price {
            font-weight: bolder;
            font-size: 32px;
            .value {
                color: $color-main-pink;
            }
        }

        #price_paragraph {
            font-family: $font-paragraph;
            span {
                color: $color-main-pink;
                font-weight: 600;
            }
        }

        #doubt_link {
            color: $color-main-pink;
            font-family: $font-title;
            font-weight: bold;
            position: relative;
            top: 30px;
        }
    }
}
